.notification {
    padding: 8px;
    background-color: var(--blue-black);
    display: flex;
    align-items: center;
    color: var(--blue-35);

    .notification-icon {
        margin: 0 8px 0 0;
    }

    & p {
        color: inherit;
    }
}