.notification {
    padding: 8px;
    display: flex;
    align-items: center;

    &.info {
        background-color: var(--blue-black);
        color: var(--blue-35);
    }

    &.warning {
        background-color: var(--orange-black);
        color: var(--orange-35);
    }

    .notification-icon {
        margin: 0 8px 0 0;
    }

    & p {
        color: inherit;
    }
}