/* the container with all the profile information */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* the profile picture */
.profile-pic {
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

.profile .given-name {
    font-weight: bold;
}