.pill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.pill {
    color: var(--grey-35);
    padding: 8px;
    border: 1px solid var(--grey-15);
    display: inline-block;
    line-height: 8px;
    border-radius: 12px;
    font-size: .5rem;
}

.pill:not(:last-child) {
    margin: 0 4px 0 0;
}