.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & .timer-mode {
        & .switch {
            /* The switch - the box around the slider */
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            & input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked {
                    & + .slider { // + is the sibling selector which is required because input and .slider are sibling and not nested
                        &::before {
                            transform: translateX(26px);
                        }
                    }
                }
            }

            & .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--grey-25);
                -webkit-transition: .25s;
                transition: .25s;
                border-radius: 34px;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .25s;
                    transition: .25s;
                    border-radius: 50%;
                }
            }
        }
    }

    & .timer-controls {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;

        & button {
            padding: 16px;
            flex: 0 1 25%;
            background-color: var(--grey-black);
            border: none;
            font-style: italic;
            font-size: 1rem;
            display: flex;
            align-items: normal;

            &:not(:first-child) {
                margin: 0 0 0 16px;
            }
        }
    }
}