ul.tab-bar {
    display: flex;
    justify-content: space-around;
    list-style: none;

    & li {
        flex: 0 1 100%;

        & a {
            padding: 24px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--grey-75);
            -webkit-box-shadow: inset 0px -1px 0px 0px var(--grey-black);
            -moz-box-shadow: inset 0px -1px 0px 0px var(--grey-black);
            box-shadow: inset 0px -1px 0px 0px var(--grey-black);
            transition: all 0.25s ease-in-out;
            position: relative;

            &:hover {
                color: var(--grey-white);
            }

            &.active {
                color: var(--grey-white);
                -webkit-box-shadow: inset 0px -4px 0px -3px var(--grey-white);
                -moz-box-shadow: inset 0px -4px 0px -3px var(--grey-white);
                box-shadow: inset 0px -4px 0px -3px var(--grey-white);
                
                & .tab-bar-icon {
                    transform: translateY(-10px);
                }

                & .tab-bar-title {
                    opacity: 1;
                    transform: translateY(10px);
                }
            }

            & .tab-bar-icon {
                font-size: 1rem;
                position: absolute;
                transition: inherit;
                transform: translateY(0);
            }

            & .tab-bar-title {
                font-size: .75rem;
                transition: inherit;
                opacity: 0;
                transform: translateY(0);
                color: inherit;
            }
        }
    }
}