ul.tab-bar {
    display: flex;
    justify-content: space-around;
    list-style: none;

    & li {
        flex: 0 1 100%;

        & a {
            padding: 16px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--grey-75);
            border-bottom: 1px solid var(--grey-black);
            transition: all 0.25s ease-in-out;
            position: relative;

            &:hover {
                color: var(--grey-white);
            }

            &.active {
                color: var(--orange-55);
                border-bottom: 1px solid var(--orange-55);
                
                & .tab-bar-icon {
                    transform: translateX(-4px);
                }

                & .tab-bar-title {
                    opacity: 1;
                    transform: translateX(4px);
                }
            }

            & .tab-bar-icon {
                transition: inherit;
                transform: translateX(175%);
            }

            & .tab-bar-title {
                transition: inherit;
                opacity: 0;
                transform: translateX(-100%);
                color: inherit;
            }
        }
    }
}