image {
    width: 100%;
    height: auto;
}

.clipped-image {
    clip-path: polygon(25% 25%, 0% 100%, 100% 100%, 80% 0%);
}

.clipped {
    width: 100%;
    /* height is set programatically */
    background-size: cover;
    background-position: center center;
}