.accordion {
    & .accordion-heading {
        display: flex;
        align-items: center;
        color: var(--grey-75);
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        & p {
            color: inherit;
        }

        &:hover {
            color: var(--grey-white);
        }

        &.active {
            color: var(--orange-55);

            & .accordion-icon{
                transform: rotate(180deg);
            }
        }

        & .accordion-title {
            font-size: 1rem;
            line-height: 16px;
            padding: 0 0 0 4px;
            font-style: italic;
        }

        & .accordion-icon {
            transition: transform 0.25s ease-in-out;
            transform: rotate(0);
        }
    }

    & .accordion-content {
        height: 0;
        overflow: hidden;
        transition: height 0.25s ease-in-out;
    }
}