header, nav {
    position: fixed; // fixed position so it does not scroll
    background-color: var(--grey-black); // set background color so elements behind are not visible
    width: 100%; // set width
}

header {
    z-index: 1;
    top: 0; // position at top 
}

main {
    padding: 44px 0 64px;

    &.extra-padding {
        padding-top: calc(44px + 32px);
    }
}

nav {
    bottom: 0; // position at bottom
}