.marquee-container {
    background-color: var(--grey-black); // set background color of the marquee
    height: auto; // set height of the marquee
    display: flex;
    flex-direction: row; // items next to each other
    align-items: center; // center items vertically
    position: fixed;
    padding: 0 0 16px 0;
}

.marquee-container p {
    animation: marquee infinite 21s linear;
    color: var(--grey-25);
    font-size: 0.75rem;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

@keyframes marquee {
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}