#header {
    position: fixed;
    top: 0px;
    padding: 16px;
    display: flex;
    width: 100%;
    background-color: var(--grey-black); // background color so elements behind (e.g. exercise list) are not visible
    justify-content: space-between;
    line-height: 12px;
    font-size: .75rem;

    & .left-header {
        flex: 0 1 25%;
        display: flex;
        font-size: .5rem;
        cursor: pointer;

        & .back-button {
            display: flex;
            align-items: center;

            & .back-icon {
                margin: 0 4px 0 0;
            }
        }
    }

    & .middle-header {
        flex: 0 1 50%;
        display: flex;
        justify-content: center;

        & a {
            display: flex;
            align-items: center;
        }
    }

    & .right-header {
        flex: 0 1 25%;
    }
}

.app-logo {
    width: 12px;
    height: 12px;
    margin: 0 8px;
}
