.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    height: 48px;
    color: white;
}

.header-title {
    width: 16px;
    height: 16px;
}