* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // outline: 1px solid red;
}

#app {
  width: 100%; // set width of the app to 100%
  display: grid; // CSS grid is used for the general layout
  grid-template-rows: 1fr; // grid has currently only a single cell as the other two are not considered to be insight the layout as their position is fixed
  height: 100vh; // height is set to 100vh
}

section {
  &.side-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
  &:not(:first-child) {
    padding-top: 16px;
  }
}

p {
  font-size: 0.75rem;
  color: var(--grey-55);
}

li {
  color: var(--grey-55);
}

.full-height {
  height: 100%;
}